body {
    background-color: rgb(171, 171, 171);
    padding: 0px;
    margin: 0px;
}

.filelist {
    max-width: 70%;
    height: 510px;
    background-color: white;
    position: absolute;
    left: 20%;
    top: 20px;
    box-shadow: 2px 2px 12px #00000047;
    user-select: none;
}

.filelistHeader {
    height: 22px;
    padding-left: 7px;
    padding-top: 7px;
}

.filelistmenu {
    height: 24px;
    background-color: rgb(240, 240, 240);
    background-image: url("/vb6img/buttons.png");
    background-repeat: no-repeat;
    background-position: 0px 0px;
}

.winborder1 {
    border-left: 1px solid white;
    border-top: 1px solid white;
    border-right: 1px solid rgb(160, 160, 160);
    border-bottom: 1px solid rgb(160, 160, 160);
}

.winborder2 {
    border-left: 1px solid rgb(160, 160, 160);
    border-top: 1px solid rgb(160, 160, 160);
    border-right: 1px solid white;
    border-bottom: 1px solid white;
}

.filelistline {
    background-color: rgb(240, 240, 240);
    height: 2px;
}

.filelistclose {
    margin-right: 1px;
    text-align: center;
    color: white;
    background-color: rgb(200, 80, 80);
    width: 22px;
    height: 22px;
    float: right;
    margin-top: -4px;
}

.filelistTreeview {
    overflow: auto;
    height: 450px;
}

.treeviewbutton {
    border: 1px solid rgb(108, 108, 108);
    display: inline-block;
    width: 9px;
    height: 9px;
}

.filelistProject {
    background-image: url("/vb6img/project.png");
    background-repeat: no-repeat;
    background-position: 3px 0px;
    height: 17px;
    font-size: 15px;
    padding-left: 35px;
    font-weight: bold;
}

.filelistItems {
    margin-left: 24px;
}

.winform {
    border: 1px solid black;
    border-radius: 5px 5px 0px 0px;
    height: 400px;
    background-color: #9bb7d3;
    background-image: linear-gradient(354deg, #9bb7d3 0%, #dbe7f4 50%, #b9d1ea 100%);
    position: absolute;
    box-shadow: 2px 2px 12px #00000047;
}

.winformtitle {
    background-repeat: no-repeat;
    background-position: 9px 9px;
    padding-left: 28px;
    padding-top: 6px;
    font-size: 12px;
    white-space: nowrap;
    overflow: hidden;
}

.winform3buttons {
    position: absolute;
    right: 8px;
}

.winforminside {
    margin-top: 7px;
    margin-left: 7px;
    margin-right: 7px;
    background-color: #f0f0f0;
}

.winformselect {
    width: 47%;
    margin-left: 2%;
    margin-top: 2px;
}

.winformcodearea {
    background-color: white;
    border-left: 1px solid black;
    margin-left: 20px;
    overflow: auto;
    padding-left: 4px;
}

.resizer-r {
    cursor: col-resize;
    height: 100%;
    right: 0;
    top: 0;
    width: 5px;
    position: absolute;
}

.resizer-b {
    bottom: 0;
    cursor: row-resize;
    height: 5px;
    left: 0;
    width: 100%;
    position: absolute;
}

.winformcodearea img,
#inside img {
    display: block;
    color: red;
    max-width: 93%;
    border: 1px solid black;
}

.winformComment {
    color: #008000;
}

.msgboxbg {
    background-color: rgba(39, 39, 39, 0.6);
    position: absolute;
    width: 100%;
    height: 100%;
    z-index: 9999999;
}

.msgboximg {
    background-image: url("/vb6img/msgbox1.jpg");
    background-repeat: no-repeat;
    width: 270px;
    height: 152px;
    margin-left: auto;
    margin-right: auto;
    border: 1px solid black;
}

.msgboxtext {
    margin-left: 60px;
    margin-top: 34px;
    margin-right: 22px;
    margin-bottom: 52px;
    overflow: hidden;
    line-height: 1;
    font-size: 14px;
}

.winformcodearea a,
#inside a {
    color: #c545ff;
}