body {
    margin: 0px;
    padding: 0px;
}

header {
    text-align: center;
}

#headerBar {
    background-color: blue;
    color: white;
    padding: 5px;
    font-weight: bold;
    margin-bottom: 5px;
}

#headerNav a {
    color: blue;
    margin: 4px;
    display: inline-block;
}

.pageSection {
    margin: 6px;
}

.sectionTitleBox {
    text-align: center;
    margin-bottom: 5px;
    font-weight: bold;
}

#randomSaying {
    text-align: center;
}

#friendLinksBox {
    text-align: center;
}

.friendslink {
    display: inline-block;
    padding: 4px;
    text-decoration: none;
    font-weight: bold;
    font-size: large;
    margin: 4px;
}

.secitonNavBox {
    max-width: 500px;
    margin-left: auto;
    margin-right: auto;
}

.secitonNavBox a {
    color: blue;
    margin-bottom: 4px;
    display: table;
    padding: 3px;
}

article {
    max-width: 700px;
    margin-left: auto;
    margin-right: auto;
    padding: 19px;
}

.articleContent {
    max-width: 100%;
    overflow: hidden;
}

article h1 {
    text-align: center;
    margin: 3px;
}

article a {
    color: blue;
}

article img {
    max-width: 100%;
    display: block;
    border: 1px solid black;
    color: red;
}

article table,
article td {
    border: 1px solid black;
}

.articleDate {
    display: block;
    text-align: center;
}

#iam404 {
    display: block;
    text-align: center;
}

#header404 {
    color: blue;
}