body {
    padding: 0px;
    margin: 0px;
    font-family: "Noto Mono", "Alibaba Sans", "Consolas", "Noto Sans CJK SC", "Alibaba PuHuiTi", "Microsoft YaHei UI";
}

main,
#headerCenter {
    max-width: 1200px;
    margin-left: auto;
    margin-right: auto;
    overflow-x: hidden;
}

a {
    text-decoration: none;
}

a:hover {
    text-decoration: underline;
}

header {
    background-color: black;
    color: white;
    background: #3494E6;
    background: linear-gradient(to right, #EC6EAD, #3494E6);
}

#headerCenter {
    padding: 50px 15px;
}

#headerCenter h1,
#headerCenter h2,
.articleBox h2 {
    padding: 0px;
    margin: 0px;
}

#headerCenter h1 {
    word-break: keep-all;
    font-size: 50px;
}

#headerCenter a {
    display: inline-block;
    margin-right: 10px;
    margin-top: 5px;
    color: white;
}

#removeWhenSuccess {
    display: block;
    text-align: center;
    font-size: large;
    font-weight: bold;
    color: royalblue;
}

.articleList {
    display: flex;
    flex-wrap: wrap;
    justify-content: space-between;
}

.articleBox {
    flex: 42%;
    max-width: 42%;
    margin: 10px;
    box-shadow: 2px 2px 8px rgba(0, 0, 0, 0.3);
    border-radius: 8px;
    padding: 20px;
}

.articleBox h2 a {
    font-size: 25px;
    color: #005da6;
}

.articleBox time {
    margin-top: 10px;
    display: block;
}

.articleBox hr,
.articleEndLine {
    opacity: 0.5;
}

.articleBox-tags a,
.articleTags a {
    color: #005da6;
    background-color: #f2f2f2;
    padding: 2px 8px;
    margin: 5px;
    display: inline-block;
}

.articleTitle {
    color: black;
    font-size: 40px;
    padding: 0px;
    margin: 15px;
    text-align: center;
}

.articleTime {
    display: block;
    text-align: center;
    opacity: 0.7;
    font-size: larger;
}

.articleFull {
    margin: 20px 5%;
}

.articleContent {
    margin: 15px 0px;
}

#indexpostsjson {
    display: none;
}

.articleSort {
    font-size: 25px;
    margin-left: 10px;
    margin-top: 10px;
    display: none;
}

.articleSort a {
    margin-left: 15px;
    color: #005da6;
}

@media (max-width: 800px) {
    .articleBox {
        flex: 90%;
        max-width: 90%;
        margin: 15px 5%;
    }
    #headerCenter h1 {
        font-size: 30px;
    }
}

.articleContent {
    color: #333;
}

.articleContent a {
    color: #005da6;
}

.articleContent hr {
    width: 85%;
    border-top: 3px dotted black;
    border-bottom: 0px;
    border-left: 0px;
    border-right: 0px;
}

.articleContent img {
    display: block;
    max-width: 99%;
    margin: 15px auto;
    border: 1px solid rgba(0, 0, 0, 0.2);
}

.articleContent td,
.articleContent table {
    border: 1px solid black;
    border-spacing: 0px;
}

.articleContent table {
    display: table;
    max-width: 98%;
    overflow: auto;
}

.articleContent td {
    padding: 5px;
    text-align: center;
}

.articleContent pre {
    background-color: #eaeef3;
    font-family: inherit;
    overflow-x: auto;
}

.articleContent code,
.articleContent input,
.articleContent textarea {
    font-family: inherit;
}

#t404 {
    font-size: large;
    text-align: center;
    display: block;
}